WebServiceTest/obj/Debug/netcoreapp2.0/WebServiceTest.pdb
WebServiceTest/obj/Debug/netcoreapp2.0/WebServiceTest.dll
WebServiceTest/bin/Debug/netcoreapp2.0/WebServiceTest.pdb
WebServiceTest/bin/Debug/netcoreapp2.0/WebServiceTest.dll
.vs/WebServiceTest/v15/sqlite3/storage.ide
.vs/WebServiceTest/v15/.suo
WebServiceTest/obj/Debug/netcoreapp2.0/WebServiceTest.csprojResolveAssemblyReference.cache
